<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HomeHunter</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to "HomeHunter", root_path, :class => :brand %>
          <div class="container-fluid nav-collapse">
            <%= render 'layouts/user_actions' %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="well span9">
          <%= yield %>
        </div>
        <div class="well span3">
          <%= link_to "Sign Up", new_user_registration_path %>
        </div>
      </div><!--/row-->

      <footer>
      <p>&copy; Copyright 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
