<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HomeHunter</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>

    <%= render 'layouts/main_nav' %>

    <%= render 'layouts/main_content' %>

    <!-- Javascripts -->
    <%= javascript_include_tag "application" %>
  </body>
</html>
